{% extends 'main.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="linkRent">
                <a class="backLinkCustomer" href="{% url 'home'  %}">
                    <i class="fas fa-arrow-circle-left customerArrow"></i>
                    <span class="backTextCustomer">Back to home</span>
                </a>
            </div>
        </div>
    </div>

    <form action="{% url 'makeOrder' id=bikeData.id  %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="conUserData">
                    <div class="row">
                        <div class="col-12">
                            <div class="tileTitle">
                                Renter
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData">
                                User name:
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="UserData">
                                <input class="readOnlyForm" value=" {{current.username}}" readonly name='user'> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData">
                                Contact Email:
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="UserData">
                                <input class="readOnlyForm" value="{{ current.email}}" readonly name='phone'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData">
                                Bike model:
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="UserData">
                                <input class="readOnlyForm" value=" {{ bikeData.model  }}" readonly name='carModel'>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="conDateData">
                    <div class="row">
                        <div class="col-12">
                            <div class="tileTitle">
                                Pick your date
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData date1">
                                Pick Up Date:
                            </div>
                        </div>
                        <div class="col-7">

                            <input type="text" class="dateselect startDateJq " required="required" name='startDate' />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData date2">
                                Drop off date:
                            </div>
                        </div>
                        <div class="col-7">

                            <input type="text" class="dateselect  endDateJq" required="required" name='endDate' />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData">
                                Pick up place:
                            </div>
                        </div>
                        <div class="col-7">
                            <select name="pickUpPlace" id="" class="pickUpPlace">
                                {% for i in pickupPlace  %}
                                <option value="{{  i.pk  }}">{{ i.pickUpPlace  }}</option>
                                {% endfor  %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="conDateData">
                    <div class="row">
                        <div class="col-12">
                            <div class="tileTitle">
                               Cost
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData">
                                Price per day:
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="UserData" id='priceField'>
                                {{ bikeData.price }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="textUserData">
                                Total costs:
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="UserData">
                                <div class="priceTotal">
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="conDateData">
                    <div class="row">
                        <div class="col-12">
                            <div class="tileTitle">
                                Make Order
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="infoRenting">
                                In the next step you will be able to print out booking confirmation.
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4  col-4" >
                            <div class="orderButton">
                                <button type='submit' class="raise">ORDER</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-4"></div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>
</div>
<script>



    var data            = JSON.parse("{{dataClean|escapejs}}"); 
    var currentDate     = new Date();
    var currentPrice    = $('#priceField').text();

    $('.dateselect').datepicker({
        format: 'yyyy/mm/dd',
        autoclose:true,
        datesDisabled:data,
        startDate: currentDate ,
    });
    $('.dateselect').datepicker()
    .on('changeDate', function() {
        var startDate   = new Date($(".startDateJq").val());
        var endDate     = new Date($(".endDateJq").val());
        var diffDate    = (endDate  - startDate) / (1000 * 60 * 60 * 24);
        var days        = Math.round(diffDate);
        var price =0;
        price       = (currentPrice * days)
        $(".priceTotal").html(price);
 
    });
</script>

{% endblock %}